* {
	font-family: "MS UI Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
	margin: 0px 0px 20px 0px;
	color: #000000;
	background: #ECE9D8;
}
hr {
	border-top: solid 1px #ACA899;
	border-right: 0px;
	border-bottom: solid 1px #FFFFFF;
	border-left: 0px;
}
h1 {
	padding: 10px;
	margin: 0px;
	font-size: 95%;
	text-align: center;
	text-indent: 2px;
	letter-spacing: 2px;
	line-height: 100%;
	color: inherit;
	background: #FFFFFF;
}
header {
	border: solid #ACA899;
	border-width: 0px 0px 1px 0px;
}
nav {
	border: solid #FFFFFF;
	border-width: 1px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}
footer p a {
	font-size: 85%;
	margin: 0px 0.2em 0px 0.2em;
}
aside {
	color: inherit;
	background: #000000;
	background: rgba(0, 0, 0, 0.5);
}
form#modal {
	border: solid #0022CC;
	border-width: 1px;
	border-radius: 8px 8px 0px 0px;
	padding: 0px;
	box-shadow: 0px 0px 10px 0px #666666;
	color: inherit;
	background: #0055EE;
	background: #0055EE linear-gradient(to bottom, #3399FF, #0055EE 4px, #0055EE 16px, #0077FF 24px, #0044CC 28px);
}
h3#modalhead {
	padding: 7px 5px 7px 5px;
	margin: 0px;
	color: #FFFFFF;
	background: transparent;
	font-weight: bold;
	text-shadow: 1px 1px 1px #001188;
	text-align: left;
	font-size: 85%;
	line-height: 120%;
	text-indent: 2px;
	letter-spacing: 2px;
}
div#modalbody {
	border: solid #0022CC;
	border-width: 1px 0px 0px 0px;
	padding: 7px;
	margin: 0px 2px 0px 2px;
	color: inherit;
	background: #ECE9D8;
	font-size: 95%;
	line-height: 110%;
}
div#modalfoot {
	padding: 0px 7px 7px 7px;
	margin: 0px 2px 2px 2px;
	color: inherit;
	background: #EEE7DD;
}
table {
	border: solid 1px #99BBEE;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px auto 0px auto;
}
thead, tfoot {
	color: #002266;
	background: #DDEEFF;
}
tbody {
	color: inherit;
	background: #FFFFFF;
}
tbody.pending {
	color: #FFFFFF;
	background: #3366BB;
}
tbody.ready {
	color: #888888;
	background: #EEEEEE;
}
tbody.error {
	color: #FF0000;
	background: #FFEEEE;
}
thead th.fi, thead th.accttype, thead th.balance, thead th.timestamp, tbody td.fi, tbody td.accttype, tbody td.balance, tbody td.timestamp, tfoot th {
	font-size: 85%;
}
tbody.pending td a:link, tbody.pending td a:hover, tbody.pending td a:visited, tbody.pending td a:active {
	color: #FFFFFF;
	background: transparent;
}
caption {
	border: solid #9999AA;
	border-width: 1px 1px 0px 1px;
	border-radius: 8px 8px 0px 0px;
	padding: 7px 10px 7px 10px;
	color: #000000;
	background: #EEE7DD;
	background: #EEE7DD linear-gradient(to bottom, #FFFFFF, #DDD7CC);
	font-size: 100%;
	font-weight: normal;
	line-height: 100%;
	text-indent: 2px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #FFFFFF;
}
th, td {
	border: solid #99BBEE;
	border-width: 1px 0px 1px 0px;
}
th {
	font-weight: bold;
}
td.fi {
	max-width: 128px;
}
td.accttype {
	max-width: 192px;
}
a:link, a:visited {
	color: #0000FF;
	background: transparent;
	text-decoration: underline;
}
a:hover, a:active {
	color: #FF0000;
	background: transparent;
}
.btn {
	border: solid 1px #666666;
	border-radius: 4px;
	padding: 2px 10px 2px 10px;
	margin: 0px;
	color: #000000;
	background: #EEE7DD;
	background: #EEE7DD linear-gradient(to bottom, #FFFFFF, #DDD7CC);
	box-shadow: 0px 0px 1px 0px #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}
.btn:hover {
	border: solid 2px #FFAA33;
	padding: 1px 9px 1px 9px;
	box-shadow: 0px 0px 0px 1px #003366;
}
.btn:active {
	border: solid 1px #003366;
	padding: 2px 10px 2px 10px;
	box-shadow: 0px 0px 1px 0px #003366;
	color: inherit;
	background: #E2E1DA;
}
.btn:disabled {
	border: solid 1px #AAAAAA;
	padding: 2px 10px 2px 10px;
	color: #AAAA99;
	background: #F7F7EE;
	box-shadow: 0px 0px 1px 0px #FFFFFF;
}
.btn + .btn {
	margin: 0px 0px 0px 2px;
}
