body {
	position: static;
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 85%;
}
nav p, footer p {
	text-align: center;
}
h1, caption, footer p {
	cursor: default;
}
h2 {
	display: none;
}
header, nav, section, footer, article {
	display: block;
}
aside {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
form#modal {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	white-space: nowrap;
}
form#modal p {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
h3#modalhead, div#modalbody, div#modalfoot {
	cursor: default;
}
div#modalbody {
	max-width: 640px;
	max-height: 360px;
	overflow: hidden;
}
div#modalbody p.label {
	padding: 10px 0px 0px 0px;
	font-size: 90%;
	font-weight: bold;
}
div#modalbody p.label:first-child {
	padding: 0px;
}
div#modalbody p.label:after {
	content: ":";
}
div#modalfoot {
	text-align: right;
}
div#details {
	margin: 10px 0px 0px 0px;
	min-height: 192px;
	max-height: 192px;
	overflow-x: hidden;
	overflow-y: scroll;
}
table#detail {
	table-layout: fixed;
	width: 512px;
}
table#detail th.dt {
	width: 64px;
}
table#detail th.note {
	width: 328px;
}
table#detail th.amt {
	width: 120px;
}
table#detail td {
	overflow: hidden;
	text-overflow: ellipsis;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
	caption-side: top;
	word-wrap: break-word;
}
thead, tfoot {
	line-height: 200%;
}
tbody {
	line-height: 120%;
}
th, td {
	padding: 2px;
	margin: 0px;
	text-indent: 1px;
	letter-spacing: 1px;
}
td.fi, td.accttype, th.control, td.control {
	text-align: left;
}
td.balance {
	text-align: right;
}
td.status, td.timestamp {
	text-align: center;
}
pre {
	word-wrap: break-word;
}
.pending, .pending .btn:disabled {
	cursor: wait;
}
a img {
	border: 0px;
}
a {
	cursor: pointer;
}
.btn {
	font-size: 85%;
	cursor: pointer;
	line-height: 150%;
	/* iOSのボタンサイズを補正する */
	-webkit-appearance: none;
}
.btn:disabled {
	cursor: default;
}
/* Firefoxのボタンサイズを補正する */
.btn::-moz-focus-inner {
	margin: -1px;
	padding: 0px;
	border-width: 1px;
}
.ipt {
	width: 320px;
}
.al {
	text-align: left;
}
.ac {
	text-align: center;
}
.ar {
	text-align: right;
}
.none {
	display: none;
}
@media print {
	* {
		font-family: sans-serif;
	}
	body {
		color: #000000;
		background: #FFFFFF;
	}
	nav, footer {
		display: none;
	}
	header {
		display: block;
	}
	h1 {
		padding: 0px;
		margin: 0px;
		font-size: 150%;
		text-align: left;
		letter-spacing: 0px;
	}
	table {
		width: 100%;
		border: solid #000000;
		border-width: 4px 0px 0px 0px;
	}
	thead tr, tfoot tr {
		border: solid #000000;
		border-width: 1px 0px 1px 0px;
	}
	thead tr th, tfoot tr th {
		padding: 0.5em 0.25em 0.5em 0.25em;
		font-weight: normal;
	}
	tbody:nth-child(odd) {
		color: inherit;
		background: #FFFFFF;
	}
	tbody:nth-child(even) {
		color: inherit;
		background: #CCEEFF;
	}
	th.control, td.control {
		display: none;
	}
	td.fi, td.accttype, td.balance, td.timestamp {
		max-width: inherit;
	}
	caption {
		border: 0px;
		padding: 0px 0px 1em 0px;
		margin: 0px;
		font-size: 100%;
		text-align: left;
	}
	a {
		color: #000000;
		background: transparent;
		text-decoration: none
	}
}
